<app-navbar></app-navbar>
<div class ="hf">
</div>
<div class="toolbar">
  <!-- <button class="toolbar-button">Education using s</button> -->
</div>
<h1>TELUGU SYLLABUS:</h1>
<div class="container">
    <div class="fisrt">
    <div class="same con"><h1 class="same head">Unit-1:</h1></div><p class="same para">పాఠాల సంబంధం</p>
    <div class="same con"><h1 class="same head">Unit-2:</h1></div><p class="same para">గ్రామాభివృద్ధి</p> 
    <div class="same con"><h1 class="same head">Unit-3:</h1></div><p class="same para">సంఘం కొరకు </p>
    <div class="same con"><h1 class="same head">Unit-4:</h1></div><p class="same para">నిర్మాణం</p>
    <div class="same con"><h1 class="same head">Unit-5:</h1></div><p class="same para">కళా సౌరభం</p>
    <div class="same con"><h1 class="same head">Unit-6:</h1></div><p class="same para">గీతం</p>
    <div class="same con"><h1 class="same head">Unit-7:</h1></div><p class="same para">ఆరోగ్య పరిచర్య</p> 
    <div class="same con"><h1 class="same head">Unit-8:</h1></div><p class="same para">బాలిక విద్యాభియానం</p>
    <div class="same con"><h1 class="same head">Unit-9:</h1></div><p class="same para">భూమి యొక్క రంగం</p>
    <div class="same con"><h1 class="same head">Unit-10:</h1></div><p class="same para">సాహిత్య స్వరూపం </p>
    <div class="same con"><h1 class="same head">Unit-11:</h1></div><p class="same para">చక్రవర్తీ వాని విన్నపూలు</p>
    <div class="same con"><h1 class="same head">Unit-12:</h1></div><p class="same para">జీవితాన్ని గుర్తించేందుకు</p>
    <div class="same con"><h1 class="same head">Unit-13:</h1></div><p class="same para">ప్రజాస్వాస్థ్యం </p>
    <div class="same con"><h1 class="same head">Unit-14:</h1></div><p class="same para">వ్యాపార పరిచర్య </p> 
    <div class="same con"><h1 class="same head">Unit-15:</h1></div><p class="same para">స్వచ్ఛందంగా ఉండేందుకు</p>
   </div>
