<h1>SOCIAL SYLLABUS:</h1>
<br>
<h2>
  click the button to perform changes on a table<button><a routerLink="/table"routerLinkActive="active"> getall</a></button>
</h2>
  <br>
<div class="part-1">
  <h1 style="color: black;">PART-1:</h1>
  <h3>
   <p>unit-1:india-relief features </p>     
   <h3>topics:<br>
    1.location of india<br>
    2.geological background<br>
    3.major-relief divisions<br></h3>
   <a class="link" href="https://www.youtube.com/watch?v=sqMOw5tJgwo">Understanding by video</a><br><br>

   
    <!-- topics:<br>
    1.location of india<br>
    2.geological background<br>
    3.major-relief divisions<br> -->
    <p>unit-2:ideas of development</p>
    <h3>
      topics:<br>
    1.developmental goals<br>
    2.income and other goals<br>
    3.comparing countries and states<br>
    </h3>
    <a class="link" href="https://www.youtube.com/watch?v=W_Ih_jnIW3Y">Understanding by video</a><br><br><br>

    <!-- topics:<br>
    1.developmental goals<br>
    2.income and other goals<br>
    3.comparing countries and states<br>
    4.income and other criteria<br>
    5.public facilites<br>
    6.development as progress over time<br> -->
    <p>unit-3:production and employment</p>
    <h3>
      topics:<br>
    1.sectors of economy<br>
    2.gross domestic product<br>
    3.how to estimate gdp?<br>
    </h3>
    <a class="link" href="https://www.youtube.com/watch?v=Ok4qJi0oZWc">Understanding by video</a><br><br><br>

    <!-- topics:<br>
    1.sectors of economy<br>
    2.gross domestic product<br>
    3.how to estimate gdp?<br>
    4.changes in the importance of the sectors<br>
    5.employment<br>
    6.organised and unorganised sectors in employment<br>
    7.how to create better conditions of employment<br> -->
    <p>unit-4:climate of india</p>
    <h3>
      topics:<br> 
     1.climate and weather<br>
    2.factors influencing the weather<br>
    3.seasons in india<br>
    </h3>
    <a class="link" href="https://www.youtube.com/watch?v=P17Hlrtw0-E">Understanding by video</a><br><br><br>

    <!-- topics:<br> -->
    <!-- 1.climate and weather<br>
    2.factors influencing the weather<br>
    3.seasons in india<br>
    4.global warming and climate-change<br>
    5.impact of climate change of india<br> -->
    <p> rivers and water resources</p>    
    <h3>
      topics:<br>
    1.the himalayan rivers<br>
    2.the peninsular rivers<br>
    3.water use in tungabadra river basin<br>
    </h3>
    <a class="link" href="https://www.youtube.com/watch?v=z0ufUcRlY-s">Understanding by video</a><br><br><br>

    <!-- topics:<br>
    1.the himalayan rivers<br>
    2.the peninsular rivers<br>
    3.water use in tungabadra river basin<br>
    4.rational and equitable use of water<br>
    5.water as common pool resource<br> -->
    <p>unit-6:the people</p><br> 
    <h3>
      topics:<br>
    1.what does census show<br>
    2.changing population size<br>
    3.population density<br>
    </h3>
    <a class="link" href="https://www.youtube.com/watch?v=sAlBbn3EiBE">Understanding by video</a><br><br><br>

    <!-- topics:<br>
    1.what does census show<br>
    2.changing population size<br>
    3.population density<br> -->
    <p>unit-7:people and settlement</p><br>   
    <h3>
      topics:<br>
    1.what is settlement and how did it began?<br>
    2.expansion of agriculture and emergence of towns<br>
    3.why do settlements change?<br>
    </h3>
    <a class="link" href="https://www.youtube.com/watch?v=dLYNVeiWZLs">Understanding by video</a><br><br><br>

    <!-- topics:<br>
    1.what is settlement and how did it began?<br>
    2.expansion of agriculture and emergence of towns<br>
    3.why do settlements change?<br>
    4.places attracts the settlements<br>
    5.how settlemments are organised<br>
    6.urbanisation and its problems<br>
    7.indian settlements in hierarchy<br> -->
    <p>unit-8:people and migration</p><br>   
   <h3>
    topics:<br>
    1.story of ramayya a migrant teacher in hyderabad<br>
    2.measuring and classify the migration pattrens<br>
    3.rural-urban migration<br>
   </h3> 
    <a class="link" href="https://www.youtube.com/watch?v=as-pOvL1i-E">Understanding by video</a><br><br><br>

    <!-- topics:<br>
    1.story of ramayya a migrant teacher in hyderabad<br>
    2.measuring and classify the migration pattrens<br>
    3.rural-urban migration<br>
    4.seasonal-temporary migration<br>
    5.what happens when people migrate?<br>
    6.international migration<br> -->
    <p> unit-9:village economy</p><br> 
    <h3>
      topics:<br>
    1.the story of Rampur village<br>
    2.farming in Rampur<br>
    3.land and other natural resources in Rampur<br>
    </h3>
    <a class="link" href="https://www.youtube.com/watch?v=WWGyQNkp9DY">Understanding by video</a><br><br><br>

    <!-- topics:<br>
    1.the story of Rampur village<br>
    2.farming in Rampur<br>
    3.land and other natural resources in Rampur<br>
    4.land distribution in Rampur<br>
    5.organisation of production<br>
    6.labour of the farm <br>
    7.surplus or loss for the farmer<br>
    8.non-farm activities in Rampur<br> -->
    <P>unit-10:globalisation</P><br>
    <h3>
      topics:<br>
    1.globalisation<br>
    2.production across countries<br>
    3.interlinking the production across countries<br>
    </h3>
    <a class="link" href="https://www.youtube.com/watch?v=ZewQi1OVcTw">Understanding by video</a><br><br><br>

    <!-- topics:<br>
    1.globalisation<br>
    2.production across countries<br>
    3.interlinking the production across countries<br>
    4.foreign trade and integration of market<br>
    5.MNCS and globalisation<br>
    6.factors that have enabled globalisation<br>
    7.liberalisation<br>
    8.world trade organisation -->
    <p>unit-11:food security</p><br>    
    <h3>
      topics:<br>
    1.foodsecurity in our country and availability of food grains<br>
    2.access to food<br>
    3.public distribution system<br>
    </h3>
    <a class="link" href="https://www.youtube.com/watch?v=bx4o_CHpat8">Understanding by video</a><br><br><br>

    <!-- topics:<br>
    1.foodsecurity in our country and availability of food grains<br>
    2.access to food<br>
    3.public distribution system<br>
    4.nutrition status<br> -->
    <p>unit-12:sustainable development</p><br> 
    <h3>
      topics:<br>
    1.meaning of sustainable development<br>
    2.environment and development<br>
    3.people's rights over the environment for food<br>
    </h3>
    <a class="link" href="https://www.youtube.com/watch?v=_bEDk1jIidU">Understanding by video</a><br><br><br>

    <!-- topics:<br>
    1.meaning of sustainable development<br>
    2.environment and development<br>
    3.people's rights over the environment for food<br>
    4.chipko andolan<br>
    5.towards sustainable development with equity<br> -->
  </h3>
</div>
<div class="part-2">
  <h1 style="color: black;">PART-2:</h1>
  <h3>
   
  <p> unit-13:the world between wars 1900-1950(PART-1)</p><br>  
  <h3>
    topics:<br>
    1.world wars<br>
    2.causes of world war-1<br>
    3.causes of world war-2<br>
  </h3>
  <a class="link" href="https://www.youtube.com/watch?v=v1CusNlVOco">Understanding by video</a><br><br><br>

    <!-- topics:<br>
    1.world wars<br>
    2.causes of world war-1<br>
    3.causes of world war-2<br>
    4.consequences of world wars<br> -->
    <p>unit-14:the world between wars 1900-1950(part-2)</p><br> 
    <h3>
      topics:<br> 
     1.russian socialist revolution<br>
    2.rise of stalin<br>
    3.russian revolution<br>
    </h3>
    <a class="link" href="https://www.youtube.com/watch?v=61mJrQLH-VM">Understanding by video</a><br><br><br>

    <!-- topics:<br> -->
    <!-- 1.russian socialist revolution<br>
    2.rise of stalin<br>
    3.russian revolution<br>
    4.the great drepression<br>
    4.rise of nazism in germany<br>
    5.the defeat and dead<br> -->
    <p>unit-15:national liberation movements in the colonies</p><br> 
    <h3>
      topics:<br>
    1.colonies in 1914<br>
    2.china:two different phases<br>
    3.establishing the republic<br>
    </h3>
    <a class="link" href="https://www.youtube.com/watch?v=XMl1c4jeN2c">Understanding by video</a><br><br><br>

    <!-- topics:<br>
    1.colonies in 1914<br>
    2.china:two different phases<br>
    3.establishing the republic<br>
    4.the rise of communist party of china<br>
    5.establishing the new democracy:1949-1954 in china and land reforms<br>
    6.vietnam:against two colonies<br>
    7.exports,landlordism and peasants in vietnam<br>
    8.the civilising mission<br>
    9.emergence of vietnamese nationalism<br>
    10.the new republic of vietnam<br>
    11.agent orange<br>
    12.nigeria:forming unity against the colonisers<br>
    13.oil,environment and politics in nigeria<br> -->
    <p>unit-16:national movement in india-partition and independence:1939-1947</p><br>   
    <h3>
      topics:<br>
    1.should the war be supported by indians?1939-1942<br>
    2.the muslim league<br>
    3.the hindu mahasabha and the RSS<br>
    </h3>
    <a class="link" href="https://www.youtube.com/watch?v=_EEImqRHoVw">Understanding by video</a><br><br><br>

    <!-- topics:<br>
    1.should the war be supported by indians?1939-1942<br>
    2.the muslim league<br>
    3.the hindu mahasabha and the RSS<br>
    4.the pakistan revolution<br>
    5.the popular upsurge-1946-1948<br>
    6.muslim league and the congress-negotiation for transfer of power<br>
    7.partition and migration in india<br>
    8.assassination of gandhiji<br>
    9.integration of states<br> -->
    <P>unit-17:the making of independent india's constitution</P><br>  
    <h3>
      topics:<br>
    1.nepal intern constitution preamble 2007<br>
    2.japan constitution preamble 1946<br>
    3.background of nepal<br>
    </h3>
    <a class="link" href="https://www.youtube.com/watch?v=Colhlc-V_aI">Understanding by video</a><br><br><br>

    <!-- topics:<br>
    1.nepal intern constitution preamble 2007<br>
    2.japan constitution preamble 1946<br>
    3.background of nepal<br>
    4.the making of indian constitution<br>
    5.parliamentary system<br>
    6.federalism<br>
    7.constitution and social engineering<br> -->
    <p>unit-18:elections</p><br>  
    <h3>
      topics:<br> 
    1.first general election<br>
    2.one party dominance in political system<br>
    3.demand for state reorganisation<br>
    </h3>
    <a class="link" href="https://www.youtube.com/watch?v=JXMQNW1N_JE">Understanding by video</a><br><br><br>

    <!-- topics:<br> -->
    <!-- 1.first general election<br>
    2.one party dominance in political system<br>
    3.demand for state reorganisation<br>
    4.state recognisation act,1956<br>
    5.social and economic change<br>
    6.foreign policy and wars<br>
    7.anti-hindi agitation<br>
    8.green revolution<br>
    9.bangladesh war<br>
    10.emergency<br> -->
    <p>unit-19:emerging political trends 1977 t0o 2000</p><br>  
    <h3>
      topics:<br>
    1.return of democracy after emergency<br>
    2.1977 elections and the end of emergency<br>
    3.politics in andhra pradesh<br>
    </h3>
    <a class="link" href="https://www.youtube.com/watch?v=1QNYfPcTV7I">Understanding by video</a><br><br><br>

    <!-- topics:<br>
    1.return of democracy after emergency<br>
    2.1977 elections and the end of emergency<br>
    3.politics in andhra pradesh<br> -->
    <!-- 4.assom movement<br>
    5.the punjab agitation<br>
    6.new initiatives in rajiv gandhi era<br>
    7.rise of communalism and corruption in high places<br>
    8.the era of coalition politics<br>
    9.the left front government in west bengal<br>
    10.political concerns in the last 20th century<br> -->
    <p>unit-20:post-war world and india</p><br>   
    <h3>
      topics:<br>
    1.aftermath of the world war-2<br>
    2.united nations organisation(UNO)<br>
    3.the two camps and the cold war(1945-1991)<br>
    </h3>
    <a class="link" href="https://www.youtube.com/watch?v=K3naRLNwENE">Understanding by video</a><br><br><br>

    <!-- topics:<br>
    1.aftermath of the world war-2<br>
    2.united nations organisation(UNO)<br>
    3.the two camps and the cold war(1945-1991)<br>
    4.proxy war and military alliances<br>
    5.non-alignment movement<br> -->
    <!-- 6.west asian conflicts<br>
    7.the growth of nationalism in the middle east <br>
    8.collapse of USSR and end of the cold war<br>
    9.india's relation with china(sino-indian relations)<br>
    10.india's relation with pakistan<br>
    11.india's relation with bangladesh<br>
    12.india's relation with srilanka<br> -->
    <P>unit-21:social movements in our times</P><br>   
    <h3>
      topics:<br>
    1.civil rights and other movements in USSR<br>
    2.human rights movements in USSR<br>
    3.anti-nuclear and anti-war movements<br>
    </h3>
    <a class="link" href="https://www.youtube.com/watch?v=vdvI07rAriM">Understanding by video</a><br><br><br>

    <!-- topics:<br>
    1.civil rights and other movements in USSR<br>
    2.human rights movements in USSR<br>
    3.anti-nuclear and anti-war movements<br>
    4.green peace movement in europe<br> -->
    <!-- 5.bhopla gas disaster related movements<br>
    6.movements against dams on the narmada river<br>
    7.silent valley movement<br>
    8.meira paibi movement<br> -->
    <p>unit-22:citizens and the governments</p><br>  
    <h3>
      topics:<br> 
    part-1:right to information<br>
    1.what is meant by information<br>
    2.who is responsible for the information<br>
    3.people and RTI<br>
    </h3>
    <a class="link" href="https://www.youtube.com/watch?v=HVGSj-p_WqA">Understanding by video</a><br><br><br>

    <!-- topics:<br> -->
    <!-- part-1:right to information<br> -->
    <!-- 1.what is meant by information<br>
    2.who is responsible for the information<br>
    3.people and RTI<br> -->
    <!-- part-2:leagal service authority<br>
    1.objects of legal service authority<br>
    2.functions of legal service authority<br>
    3.benefits of lok adalat<br> -->
  </h3>
</div>
<form style="text-align: center;">
  <input type="text" placeholder="Unit name" name="Unitname"  [(ngModel)]="User.Unitname"><br>
  <input type="text" placeholder="Unit link"  name="Unitlink" [(ngModel)]="User.Unitlink"><br>
  <button (click)="Insert()">INSERT</button>
   <button (click)="Delete()">DELETE</button>
  <button (click)="Update()">UPDATE</button>
  <button (click)="Read()">READ</button>
<div *ngIf="!(SuccessMsg=='')"><h1>{{SuccessMsg}}</h1></div>
<div *ngIf="!(ErrorMsg=='')"><h1>{{ErrorMsg}}</h1></div>
</form>
<div *ngIf="canShowData">
  <hr>
  <table>
    <tr>
      <th colspan="10" style="text-align: center;">
        <h4>SOCIAL STUDIES</h4>
      </th>
    </tr>
    <tr>
      <td colspan="4">Unitname</td>
      <td colspan="6">{{d[0][0]}}</td>
    </tr>
    <tr>
      <td colspan="4">Unitlink</td>
      <td colspan="6">{{d[0][1]}}</td>
    </tr>
  </table>


