<app-navbar></app-navbar>

<p>
click the button to perform changes on a table<button><a routerLink="/table"routerLinkActive="active"> getall</a></button>
</p>

    <div class="fisrt image">
    <div class="container">
    <div class="same con"><h1 class="same head">Unit-1:</h1></div><p class="same para">Real Numbers</p>
    <ul class="head sub">
        <li>Fundamental Theorem of Arithmetic</li>
        <li>Proof of Euclid's Division Lemma.</li>
        <li>Prime Factorisation</li>
        <li>Number theory: Interesting results</li>
        <li>Terminating and Non-Terminating Decimals</li>
        <br>
        <a class="link" href="https://youtu.be/11VMUVH6tc8">Understanding by video</a>
    </ul>
</div>
<div class="container">
    <div class="same con"><h1 class="same head">Unit-2:</h1></div><p class="same para">Sets
    </p>
    <ul class="head sub">
        <li>Introduction to Sets</li>
        <li>Types of Sets</li>
        <li>Cardinality of Sets</li>
        <li>Laws of Sets</li>
        <li>Application of Sets</li>
        <br>
        <a class="link" href="https://youtu.be/ZVK5lCnCpOI">Understanding by video</a>

    </ul>
</div>
   <div class="container">
    <div class="same con"><h1 class="same head">Unit-3:</h1></div><p class="same para">Polynomials
    </p>
    <ul class="head sub">
        <li>Algebraic Expressions</li>
        <li>Degree of a Polynomial</li>
        <li>Graphical Representations</li>
        <li>Graph of the Polynomial x^n</li>
        <li>Zeroes of a Polynomial</li>
        <br>
        <a class="link" href="https://youtu.be/2xogqGiHeeA">Understanding by video</a>
    </ul>
</div>
    <div class="container">
    <div class="same con"><h1 class="same head">Unit-4:</h1></div><p class="same para">Pair of Linear Equations In Two Variables
    </p>
    <ul class="head sub">
        <li>System of Linear Equations in Two Variables</li>
        <li>Word Problems</li>
        <li>Quadratic Polynomial</li>
        <li>Cubic Polynomia</li>
        <li>Distance-time graph</li>
        <br>
        <a class="link" href="https://youtu.be/qb4RNYOv55I">Understanding by video</a>
    </ul>
</div>
    <div class="container">
    <div class="same con"><h1 class="same head">Unit-5:</h1></div><p class="same para">Quadratic Equations
    </p>
    <ul class="head sub">
        <li>Solution Of Quadratic Equation By Factorization</li>
        <li>Solution Of Quadratic Equation By Completing the Square</li>
        <li>Nature Of Roots</li>
        <li>Standard Form Of Quadratic Equatoin</li>
        <li>Quadratic Formulas</li>
        <br>
        <a class="link" href="https://youtu.be/rlkP8tkYCIk">Understanding by video</a>
    </ul>
</div>
    <div class="container">
    <div class="same con"><h1 class="same head">Unit-6:</h1></div><p class="same para">Progressions
    </p>
    <ul class="head sub">
        <li>Sequences, Series and Progressions</li>
        <li>Arithmetic Progression</li>
        <li>Common Difference</li>
        <li>Finite and Infinite Arthmetic Projection</li>
        <li>The General Form of an Arthmetic Projection</li>
        <br>
        <a class="link" href="https://youtu.be/rlkP8tkYCIk">Understanding by video</a>
    </ul>
</div>
    <div class="container">
    <div class="same con"><h1 class="same head">Unit-7:</h1></div><p class="same para">Coordinate Geometry
    </p>
    <ul class="head sub">
        <li>Introduction to Coordinate Geometry</li>
        <li>Cartesian Coordinate System</li>
        <li>Plotting Points on a Graph</li>
        <li>Parallel and Perpendicular Lines</li>
        <li>Applications of Coordinate Geometry</li>
        <br>
        <a class="link" href="https://youtu.be/rlkP8tkYCIk">Understanding by video</a>
    </ul>
</div>
    <div class="container">
    <div class="same con"><h1 class="same head">Unit-8:</h1></div><p class="same para">Similar Triangles
    </p>
    <ul class="head sub">
        <li>Criteria for Similarity of Triangles</li>
        <li>Basic Proportional Relationships in Similar Triangles</li>
        <li>Perimeters and Areas of Similar Triangles</li>
        <li>Enlargement and Reduction of Figures</li>
        <li>Pythagorean Theorem and Similar Triangles</li>
        <br>
        <a class="link" href="https://youtu.be/rlkP8tkYCIk">Understanding by video</a>
    </ul>
</div>
    <div class="container">
    <div class="same con"><h1 class="same head">Unit-9:</h1></div><p class="same para">Tangents and Secants to a circle
    </p>
    <ul class="head sub">
        <li>Properties of tangents to a circle</li>
        <li>Tangent segments and their lengths</li>
        <li>Number of tangents from a point on the circle</li>
        <li>Angles formed by tangents and chords</li>
        <li>Properties of intersecting chords and tangents</li>
        <br>
        <a class="link" href="https://youtu.be/rlkP8tkYCIk">Understanding by video</a>
    </ul>
</div>
    <div class="container">
    <div class="same con"><h1 class="same head">Unit-10:</h1></div><p class="same para">Mensuration
    </p>
    <ul class="head sub">
        <li>Area and perimeter of plane figures</li>
        <li>Volume and surface area of solid figures</li>
        <li>Conversion of units</li>
        <li>Parallelograms and rhombuses</li>
        <li>Application problems</li>
        <br>
        <a class="link" href="https://youtu.be/rlkP8tkYCIk">Understanding by video</a>
    </ul>
</div>
    <div class="container">
    <div class="same con"><h1 class="same head">Unit-11:</h1></div><p class="same para">Trigonomentry
    </p>
    <ul class="head sub">
        <li>Introduction to Trigonometry</li>
        <li>Values of Trigonometric Ratios for Special Angles (0°, 30°, 45°, 60°, 90°)</li>
        <li>Applications of Trigonometry in Real-Life Problems</li>
        <li>Trigonometric Functions and Graphs</li>
        <li>Inverse Trigonometric Functions</li>
        <br>
        <a class="link" href="https://youtu.be/rlkP8tkYCIk">Understanding by video</a>
    </ul>
</div>
    <div class="container">
    <div class="same con"><h1 class="same head">Unit-12:</h1></div><p class="same para">Applications of Trigonomentry
    </p>
    <ul class="head sub">
        <li>Navigation and Bearings</li>
        <li>Shadows and Sunlight</li>
        <li>Angles of Elevation and Depression</li>
        <li>Simple Harmonic Motion</li>
        <br>
        <a class="link" href="https://youtu.be/rlkP8tkYCIk">Understanding by video</a>
    </ul>
</div>
    <div class="container">
    <div class="same con"><h1 class="same head">Unit-13:</h1></div><p class="same para">Probability
    </p>
    <ul class="head sub">
        <li>Basic Concepts of Probability</li>
        <li>Theoretical Probability</li>
        <li>Experimental Probability</li>
        <li>Equally Likely Events</li>
        <li>Probability of Compound Events</li>
        <br>
        <a class="link" href="https://youtu.be/rlkP8tkYCIk">Understanding by video</a>
    </ul>
</div>
    <div class="container">
    <div class="same con"><h1 class="same head">Unit-14:</h1></div><p class="same para">Statstics
    </p>
    <ul class="head sub">
        <li>Data and its Types</li>
        <li>Measures of Central Tendency</li>
        <li>Measures of Dispersion</li>
        <li>Tabular Presentation of Data</li>
        <li>Graphical Representation of Data</li>
        <br>
        <a class="link" href="https://youtu.be/rlkP8tkYCIk">Understanding by video</a>
    </ul>
</div>
   
    <div class="mt-5 p-2">
        <!-- <a routerLink="/complete"><input type="button" value="want to change" class="bts" id="btn1"></a> -->
        <!--<a routerLink="/read"><input type="button" value="Read" class="bts" id="btn2"></a>
        <a routerLink="/update"><input type="button" value="Update" class="bts" id="btn3"></a>
        <a routerLink="/delete"><input type="button" value="Delete" class="bts" id="btn4"></a>-->

    </div>
    
    </div>


<form style="text-align: center;">
    <input type="text" placeholder="Enter Unit Name" name="Unitname" [(ngModel)]="User.Unitname"> <br>
    <input type="text" placeholder="Enter Unit Link" name="Unitlink" [(ngModel)]="User.Unitlink"> <br>
    <button (click)="Insertmat()">INSERT</button>  
    <button (click)="Deletemat()">DELETE</button> 
    <button (click)="Updatemat()">UPDATE</button> 
    <button (click)="Readmat()">READ</button>   
    <div *ngIf="!(SuccessMsg=='')"><h1>{{SuccessMsg}}</h1></div>
    <div *ngIf="!(ErrorMsg=='')"><h1>{{ErrorMsg}}</h1></div>
</form> 
    <div *ngIf="canShowData"> 
      <hr> 
      <table >
          <tr>
            <th colspan="10" style="text-align: center;"><h4>MATHEMATICS</h4></th>
          </tr>
          <tr>
            <td colspan="4">Unitname</td>
            <td colspan="6">{{d[0][0]}}</td>
          </tr>
          <tr>
            <td colspan="4">Unitlink</td>
            <td colspan="6">{{d[0][1]}}</td>
          </tr>
      </table>
      </div>
    
    

