
<nav>
  <h5> Education Using Smartphone</h5>
    <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/2/21/Nec.png.jpg"/> -->
    <!-- <img src="https://images-platform.99static.com//ZiLDklPa3LRxVtAqwRNKM6KENr4=/347x0:1034x686/fit-in/500x500/99designs-contests-attachments/75/75199/attachment_75199333"/> -->
    <ul>
      <!-- <img src="https://images-platform.99static.com//ZiLDklPa3LRxVtAqwRNKM6KENr4=/347x0:1034x686/fit-in/500x500/99designs-contests-attachments/75/75199/attachment_75199333"/> -->
      <!-- <h5>Education Using Smartphone</h5> -->

        <li><a routerLink="/home" routerLinkActive="active"><button>HOME</button></a></li>
        <li><a routerLink="/ten" routerLinkActive="active"><button>10TH</button></a></li>
        <li><a routerLink="/about" routerLinkActive="active"><button>ABOUT</button></a></li>
        <li><a routerLink="/contact" routerLinkActive="active"><button>CONTACT US</button></a></li>
        <li><a routerLink="/login" routerLinkActive="active"><button>LOGOUT</button></a></li>


        <!-- <li *ngIf="isLoggedIn"><a routerLink="/ten" routerLinkActive="active">TEN</a></li>
        <li *ngIf="!isLoggedIn"><a routerLink="/login">Login</a></li> -->

    </ul>
  </nav>


  <!-- <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li *ngIf="isLoggedIn"><a routerLink="/profile">Profile</a></li>
      <li *ngIf="!isLoggedIn"><a routerLink="/login">Login</a></li>
    </ul>
  </nav> -->
  
  <!-- Other navbar elements -->

<!-- <ng-container *ngIf="isLoggedIn">
<button>Button 1</button>
<button>Button 2</button>
</ng-container> -->


