<app-navbar></app-navbar>




   <!---- <div class="">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3jSuVZhyvUkNDtXNjJ3dhstvFbFnDL91epeDMEpiLnNr8PNGqP35J&usqp=CAE&s"/>
</div>
  <h1 class="cor">Contact Us</h1>
 </div>
 <div class="img">
 <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCPZ8hH4ANTR50lTvqjpVBay0jCzW7FSUjiQ&usqp=CAU" class="image" alt="">
</div>
  <p class="para">We would love to hear from you! If you have any questions, suggestions, or feedback, please don't hesitate to reach out to us. Our dedicated team is here to assist you and provide the information you need.</p>
  <h1 class="head">Meet Our Team:</h1>
  <p class="para">We are a passionate team of educators committed to making education accessible and engaging through the use of smartphones for 10th class. Get to know our team members who bring expertise and enthusiasm to this project.</p>
  <h1 class="head">Team Member Profiles</h1>
  <ol>
    <li>D.Naga Revathi</li>
    <li>A.Niharika</li>
    <li>A.Vyshnavi</li>
    <li>Y.Madhavi</li>
    <li>A.Sowmya</li>
    <li>M.Gayathri</li>
    <li>P.Sneha Kumar</li>
    <li>K.Gayathri</li>
  </ol>
  <h1 class="head">Connect with Us:</h1>
  <p class="para">Stay updated with the latest news, updates, and educational content by following us on social media. Connect with us through the following channels:</p>
  <ul class="para">
    <li>Facebook: [Facebook Page Link]</li>

    <li>Instagram: [Instagram Profile Link]</li>
     <li>Twitter: [Twitter Profile Link]</li>
    <li>LinkedIn: [LinkedIn Profile Link]</li>
  </ul>
  <p class="para">We value your input and look forward to hearing from you. Feel free to reach out to us using any of the contact methods provided above. We appreciate your interest in our educational platform and are dedicated to providing an excellent experience for our users.</p>
</div> -->



<div class="about-section">
  
    <h1>Contact Page</h1>
    <!-- <p>Some text about who we are and what we do.</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>-->
  </div>
<div class="fir d-flex flex-row">
  <div class="size">
  <H2>....SCAN HERE....</H2>

  <h3>
    scan the image to verify our survey photo which was<br> conducted in yalamanda village
  </h3>
</div>
  <img class="passport-size" [src]="qrCodeImageUrl" alt="QR Code">
</div>

 



 
<div>
    <div class="section">
      <div class="text">
        <h2>Naga Revathi</h2>
    <div>
    <p></p>
    <p class="title">team member</p>
    <p>Email:nagarevathidokku@gmail.com</p>
    <!-- <p>phno:8074292185</p> -->
    <P>Roll no:21471A0581</P>
    <p><button class="button">Contact</button></p>
  </div>

           </div>
      <img src="assets\images\photo1.jpg" alt="">
  </div>
    
    <div class="section">
        <div class="text">
            <h2>Niharika</h2>
          <p class="title">team member</p>
          
          <p>Email:ambatinikki@gmail.com</p>
          <p>phno:6303311432</p>
          <!-- <P>Roll no:21471A0573</P> -->
          <p><button class="button">Contact</button></p>
        </div>
        <img src="C:\Users\ambat\PICS\bcf44dbd-59af-4d98-b790-0d378fd0b3dc.jpeg" alt="">
    </div>
     
    
    
    <div class="section">
        <div class="text">
            <h2>vyshnavi</h2>
            <p class="title">team member</p>
            
            <p>vyshnaviakkapalli@gmail.com</p>
            <!-- <p>phno:8522819117</p> -->
            <p>Roll no:21471A05</p>
            <p>
            <p><button class="button">Contact</button></p>
         
             </div>
        <img src="assets\images\photo1.jpg" alt="">
    </div>
     
      <div class="section">
        <div class="text">
            <h2>Madhavi</h2>
            <p class="title">team member</p>
            
            <p>Email:yarlagaddamadhavi96@gmail.com</p>
            <p>phno:8125718544</p>
            <p>Roll no:21471AO5D9</p>
          
            <p><button class="button">Contact</button></p>
         
             </div>
        <img src="assets\images\photo1.jpg" alt="">
    </div>
    <div class="section">
        <div class="text">
            <h2>Sneha Kumari</h2>
            <p class="title">team member</p>
            
            <p>Email:perumallasneha@gmail.com</p>
            <p>phno:9441342196</p>
            <p>Roll no:214715AO5B2</p>
            <p><button class="button">Contact</button></p>
         
             </div>
        <img src="assets\images\photo1.jpg" alt="">
    </div>

      
      <div class="section">
        <div class="text">
            <h2>suvarshitha</h2>
          <p class="title">team member</p>
          
          <p>Email:suvarshithakapu039@gmail.com</p>
          <!-- <p>phno:9381031776</p> -->
          <P>Roll no:21471A05</P>
          <p><button class="button">Contact</button></p>
        </div>
        <img src="assets\images\photo1.jpg" alt="">
    </div>

    <div class="section">
        <div class="text">
            <h2>k.Gayathri</h2>
            <p class="title">team member</p>
            
            <p>Email:petetiujwaladevi26@gmail.com</p>
            <p>phno:7702478429</p>
            <p>Roll No:21475A05O3</p>
            <p><button class="button">Contact</button></p>
          
        </div>
        <img src="assets\images\photo1.jpg" alt="">
    </div>

 <div class="section">
  <div class="text">
      <h2>Sowmya</h2>
    <p class="title">team member</p>
    
    <p>Email:suvarshithakapu039@gmail.com</p>
    <!-- <p>phno:9381031776</p> -->
    <P>Roll no:21471A05</P>
    <p><button class="button">Contact</button></p>
  </div>
  <img src="assets\images\photo1.jpg" alt="">
</div>

<div class="section">
  <div class="text">
      <h2>M.Gayathri</h2>
    <p class="title">team member</p>
    
    <p>Email:suvarshithakapu039@gmail.com</p>
    <!-- <p>phno:9381031776</p> -->
    <P>Roll no:21471A05</P>
    <p><button class="button">Contact</button></p>
  </div>
  <img src="assets\images\photo1.jpg" alt="">
</div>
</div>




<!-- <div class="contact_us_green">
    <div class="responsive-container-block big-container">
      <div class="responsive-container-block container">
        <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-7 wk-ipadp-10 line" id="i69b-2">
          <form class="form-box">
            <div class="container-block form-wrapper">
              <div class="head-text-box">
                  <p class="text-blk contactus-head">
                    Contact us
                  </p>
                  <p class="text-blk contactus-subhead">
                    This website will provide all the information and phone numbers regarding the hospital 
                  </p>
                </div>
                
          
                     
              </div>
            </form>
          </div>
          <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-5 wk-ipadp-10" id="ifgi">
            <div class="container-box">
              <div class="text-content">
                <p class="text-blk contactus-head">
                  Contact us
                </p>
                <p class="text-blk contactus-subhead">
                  This website provide all the essential information regarding hospital and provide contact numbers 
                </p>
              </div>
              <div class="workik-contact-bigbox">
                <div class="workik-contact-box">
                  <div class="phone text-box">
                    <img class="contact-svg" src="https://icons.veryicon.com/png/o/system/ued_v10-of-shengye-group/general-user-name-icon.png
                    ">
                    <p class="contact-text">
                      <p>1.Vyshnavi<br>2.Revathi<br>3.Niharika<br>4.Sowmya<br>5.Madhavi<br> 6.gayathri<br> 7.Mgayathri<br> 8.snehakumari<br>9.Suvarshitha</p>
                     
                     
                     
                     
                    
                    
                    
                     
                    
                  </div>
                  <div class="address text-box">
                    <img class="contact-svg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET22.jpg">
                    <p class="contact-text">
                     <p>vyshnaviakkapalli@gmail.com<br>nagarevathidokku@gmail.com<br>amabatinikki@gmail.com<br>yendulurisowmya@gmail.com<br>gayathri@gmail.com<br>yaralagaddamadhavi96@gmail.com<br>suvarshithakapu039@gmail.com<br>gmodepalli@gmail.com</p>
                     
                     
                     
                    
                     
                     
                     
                      
                      
  
                    
              
                    
                  </div>
                  <div class="mail text-box">
                    <img class="contact-svg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET21.jpg
                    ">
                    <p class="contact-text">
                      <p>1.9177136838<br>2.6300239363<br>3.8919300677<br> 4.8790949203<br>5.6304769738<br>6.9346129585<br>7.8341151983<br> 8.9014664578<br>9.8688398897</p>
                      
                      
                     
                      
                      
                      
                      
                      
                    
                  </div>
                </div> -->
