<!-- <div class ="hf">
</div>
<div class="toolbar">
  <button class="toolbar-button">Education using smart phone</button>
</div>
<div class="container">
    <div class="fisrt">
    <div class="same con"><h1 class="same head">Unit-1:</h1></div><p class="same para">Mothers Lap's</p>
    <div class="same con"><h1 class="same head">Unit-2:</h1></div><p class="same para">George V's Nose</p> 
    <div class="same con"><h1 class="same head">Unit-3:</h1></div><p class="same para">Sana-Sana Jion Hands</p>
    <div class="same con"><h1 class="same head">Unit-4:</h1></div><p class="same para">You are surprised,Rama!</p>
    <div class="same con"><h1 class="same head">Unit-5:</h1></div><p class="same para">Why Do I Write</p>
    <div class="same con"><h1 class="same head">Unit-6:</h1></div><p class="same para">Author Introduction</p>
   </div>

<BR>
    <BR>
  <h2>....THANK YOU FOR VISTING THIS PAGE....</h2>  -->
  <app-navbar></app-navbar>


  <div class ="hf">
  </div>
  <div class="toolbar">
    <button class="toolbar-button">Education using smart phone</button>
    <button class="toolbar-btn">HINDI</button>
  </div>
  <div class="container">
      <div class="fisrt">
      <div class="same con"><h1 class="same head">Unit-1:</h1></div><p class="same para">माता का अँचल</p>
      <div class="same con"><h1 class="same head">Unit-2:</h1></div><p class="same para">जॉर्ज पंचम की नाक</p> 
      <div class="same con"><h1 class="same head">Unit-3:</h1></div><p class="same para">साना – साना हाथ जोड़ि</p>
      <div class="same con"><h1 class="same head">Unit-4:</h1></div><p class="same para">एही ठैयाँ झुलनी हेरानी हो रामा!</p>
      <div class="same con"><h1 class="same head">Unit-5:</h1></div><p class="same para">मैं क्यों लिखता हूँ?</p>
      <div class="same con"><h1 class="same head">Unit-6:</h1></div><p class="same para">लेखक परिचय</p>
     </div>