<div class="card">
    <form [formGroup]="userForm">
        <div class="mt-5" style="margin-right: 10px;">
            <div class="from-row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Unitname</label>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <input type="text" formControlName="Unitname" class="form-control" placeholder="enter unit name">
                        </div>
                    </div>
                </div>


                <div class="col-md-12">
                    <div class="form-group">
                        <label>Unitlink</label>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <input type="text" formControlName="Unitlink" class="form-control" placeholder="enter unit link">
                        </div>
                    </div>
                </div>

                <div class="form-row mt-4">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary"  style="margin-right: 20px;" (click)="additem()">add</button>
                        <button type="button" class="btn btn-primary" (click)="reset()">reset</button>

                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="col-md-8 mt-4 mb-4">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Unitname</th>
                    <th>Unitlink</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let item of listdata">
                    <td><span>{{item.Unitname}}</span></td>
                    <td><span>{{item.Unitlink}}</span></td>
                    <td><button type="button" class="btn btn-primary" (click)="removeItem(item)">remove</button></td>
                

                </tr>
            </tbody>
        </table>
    </div>
</div>