table{
    border-collapse: collapse;
    text-align: center; 
    color: black;
  }
  td,th{
    border: 1px solid ;
    padding: 10px;
  } 
  .btn{
    background-color: blue;
    color: aliceblue;
    padding: 10px;
    margin-left: 30px;
    margin-top: 10px;
  }
  #u{
    background-color:green;
    padding: 6px; 
    color: aliceblue;
    border: none;
    font-weight: bold;
    border-radius: 5px;
  }
  
  #d{
  background-color:violet;
  padding: 6px; 
  color: aliceblue;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  }
  
  
  #r{
    background-color: red;
    padding: 6px;  
    width: 50px;
    color: aliceblue;
    border: none;
    font-weight: bold; 
    border-radius: 5px;
  }
  
  .hide{
    display:inline; 
    position:fixed;
    left: 400px;
    bottom: 90px;
    background-color: rgb(143, 198, 247); 
    border: 2px solid black; 
    padding: 40px; 
    width: 500px;
    height: 400px;
    margin-top: 5px;
  } 
  
  
  
  
  
  
  