<app-navbar></app-navbar>
<h1>English subject:</h1>

<div class="container">
    <div class="fisrt">
    <div class="same con"><h1 class="same head">Unit-1:</h1></div><p class="same para">A Letter to God</p>
    <ul class="head sub">
        <li><ol>poetry</ol></li>
        <li><ol>Non fiction</ol>
        </li>
        <li><ol>Writing skills</ol></li>
       
        <li><ol>garammar and vocabulary</ol>
        </li>
        <br>
        <a class="link" href="https://youtu.be/F8y66IbMs9w">Understanding by video</a>
    </ul>
</div>
    
    <div class="same con"><h1 class="same head">Unit-2:</h1></div><p class="same para">Nelson mandela:Long Walk to Freedom
    </p>
    <ul class="head sub">
        <li><ol>Nelson Mandela</ol></li>
        <li><ol>Apartheid Era</ol></li>
        <li><ol>The Inspiring Life of Nelson Mandela</ol></li>
        <li><ol>Mandela Legacy</ol></li>
        <li><ol>Mandela impact on SouthAfrica</ol></li>
        <br>
        <a class="link" href="https://youtu.be/On56TWN81eg">Understanding by video</a>

    </ul>
    
   
    <div class="same con"><h1 class="same head">Unit-3:</h1></div><p class="same para">Two Stories About Flying
    </p>
    <ul class="head sub">
        <li><ol>The power of light</ol></li>
        <li><ol>Wings of imagination</ol></li>
        <li><ol>High above the clouds</ol></li>
        <li><ol>From ground to sky</ol></li>
        <li><ol>on the wings of dreams</ol></li>
        <br>
        <a class="link" href="https://youtu.be/1xcFmVRqt-E">Understanding by video</a>
    </ul>
    
    <div class="same con"><h1 class="same head">Unit-4:</h1></div><p class="same para">From the diary of Anne Frank
    </p>
    <ul class="head sub">
        <li><ol>wiriting skills</ol></li>
        <li><ol>vocabulary</ol></li>
        <li><ol>verbs</ol></li>
        <li><ol>grammer</ol></li>
        <li><ol>Comprehension passage</ol></li>
        <br>
        <a class="link" href="https://youtu.be/RD0difygE10">Understanding by video</a>
    </ul>
    
    <div class="same con"><h1 class="same head">Unit-5:</h1></div><p class="same para">The Hundred dresses-1
    </p>
    <ul class="head sub">
        <li><ol>Stories From the air</ol></li>
        <li><ol>the Skies the Limit</ol></li>
        <li><ol>Journies in the air</ol></li>
        <li><ol>unleashy the spirit of flight</ol></li>
        <li><ol>Deflying gravity</ol></li>
        <br>
        <a class="link" href="https://youtu.be/YXVwXm1M6Ls">Understanding by video</a>
    </ul>
    
    <div class="same con"><h1 class="same head">Unit-6:</h1></div><p class="same para">The Hundred dresses-2
    </p>
    <ul class="head sub">
        <li><ol>Tea from Assom</ol></li>
        <li><ol>Summary</ol></li>
        <li><ol>unleashy the spirit of flight</ol></li>
        <li><ol>A baker from Goa</ol></li>
        <li><ol>Glossary</ol></li>
        <br>
        <a class="link" href="https://youtu.be/vE9vK9g4wFI">Understanding by video</a>
    </ul>
    
    <div class="same con"><h1 class="same head">Unit-7:</h1></div><p class="same para">Glimpses of India
    </p>
    <ul class="head sub">
        <li><ol>A Baker From Goa</ol></li>
        <li><ol>Coorg</ol></li>
        <li><ol>Tea From Assam</ol></li>
        <li><ol>writing skills</ol></li>
        <li><ol>vocabulary</ol></li>
        <br>
        <a class="link" href="https://youtu.be/jaYSHwZ2AR4">Understanding by video</a>
    </ul>
    
    <div class="same con"><h1 class="same head">Unit-8:</h1></div><p class="same para">Mijbil the otter
    </p>
    <ul class="head sub">
        <li><ol>William butler yeats</ol></li>
        <li><ol>before you read activity</ol></li>
        <li><ol>Writing</ol></li>
        <li><ol>Reading Skills</ol></li>
        <li><ol>vocabulary</ol></li>
        <br>
        <a class="link" href="https://youtu.be/_mJOVy1TVQA">Understanding by video</a>
    </ul>
    
    <div class="same con"><h1 class="same head">Unit-9:</h1></div><p class="same para">Madam rides the bus
    </p>
    <ul class="head sub">
        <li><ol>Oral comprehension Check</ol></li>
        <li><ol>Thinking About the text</ol></li>
        <li><ol>Speaking</ol></li>
        <li><ol>Writing</ol></li>
        <li><ol>glossary</ol></li>
        <br>
        <a class="link" href="https://youtu.be/c9BDXsjEbfs">Understanding by video</a>
    </ul>
    
    <div class="same con"><h1 class="same head">Unit-10:</h1></div><p class="same para">The sermon at Benares
    </p>
    <ul class="head sub">
        <li><ol>For Anne georgy</ol></li>
        <li><ol>William Butler Yeats</ol></li>
        <li><ol>Before you read activity</ol></li>
        <li><ol>A guide to copying with the death of a loved one</ol></li>
        <li><ol>Good grief</ol></li>
        <br>
        <a class="link" href="https://youtu.be/tIOViNOhgzU">Understanding by video</a>
    </ul>
    
    
    <div class="same con"><h1 class="same head">Unit-11:</h1></div><p class="same para">The proposal
    </p>
    <ul class="head sub">
        <li><ol>A Russian Wedding</ol></li>
        <li><ol>Speaking and Writing</ol></li>
        <li><ol>For Anne Georgy</ol></li>
        <li><ol>Constitution of India</ol></li>
        <li><ol>Homo phones</ol></li>
        <br>
        <a class="link" href="https://youtu.be/WFGPImuIGX0">Understanding by video</a>
    </ul>
     <br>
    <!-- <div>
        <a routerLink="/insert"><input type="button" value="Insert" class="bts" id="btn1"></a>
        <a routerLink="/read"><input type="button" value="Read" class="bts" id="btn2"></a>
        <a routerLink="/update"><input type="button" value="Update" class="bts" id="btn3"></a>
        <a routerLink="/delete"><input type="button" value="Delete" class="bts" id="btn4"></a>

    </div> -->
    
    </div>
