<app-navbar></app-navbar>
<H1>    <br>10TH CLASS SUBJECTS:</H1>
<h1>    


<a routerLink="/tel10" routerLinkActive="active"><button>TELUGU</button></a><br>
<a routerLink="/hin10" routerLinkActive="active"><button>HINDI</button></a><br>
<a routerLink="/eng10" routerLinkActive="active"><button>ENGLISH</button></a><br>
<a routerLink="/mat10" routerLinkActive="active"><button>MATHS</button></a><br>
<a routerLink="/bio10" routerLinkActive="active"><button>SCIENCE</button></a><br>
<a routerLink="/ps10" routerLinkActive="active"><button>PHYSICS</button></a><br>
<a routerLink="/soc10" routerLinkActive="active"><button>SOCIAL</button></a> <br>      
</h1>

